:root {
    --header-height-desktop: 100px;
    --header-height-mobile: 80px;
}

.hdr {
    position: relative;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    transition: 0.4s;
}

.hdr-has-mobnav-expanded {
    background: black;
}

.hdr-position-absolute {
    position: absolute;
}

.hdr-row {
    position: relative;
    display: flex;
    gap: 60px;
    height: var(--header-height-desktop, 100px);

    &::after {
        content: "";
        background: rgba(0,0,0,.1);

        display: block;
        height: 1px;
        width: 100%;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.hdr-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hdr-menu {
    flex: 1;

    display: flex;
    justify-content: space-evenly;
}

.hdr-menu-item {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-accent);

    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height-desktop, 100px);

    position: relative;

    &::before {
        content: "";
        background: var(--color-accent);

        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;

        transition: .4s;
    }
}

.hdr-menu-item:hover, .hdr-menu-item:focus {
    &::before {
        width: 100%;
    }
}

.langswitcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
}

.langswitcher-item {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-accent);
    opacity: 0.5;

    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--header-height-desktop, 100px);

    cursor: pointer;
    transition: 0.2s;
}

.langswitcher-item:hover, .langswitcher-item:focus {
    opacity: 1;
}

.langswitcher-item-active {
    opacity: 1;
}

@media (max-width: 1199px){

    .hdr-row {
        gap: 40px;
        height: var(--header-height-mobile, 80px);
    }

    .hdr-menu-item {
        height: var(--header-height-mobile, 80px);
    }

    .langswitcher-item {
        height: var(--header-height-mobile, 80px);
    }

}





/* Hamburger / mobile menu visibility */

.hdr-hamburger {
    display: none;
}

.hdr-mobnav {
    background: black;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    transition: 0.5s;
}

.hdr-mobnav-expanded {
    opacity: 1;
    max-height: 100vh;
}

.hdr-mobnav-menu {
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;

    transition: 0.5s;
}

.hdr-mobnav-expanded .hdr-mobnav-menu {
    padding-top: 24px;
    padding-bottom: 24px;
}

.hdr-mobnav-menu-item {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;

    transition: 0.2s;
}

.hdr-mobnav-menu-item:hover, .hdr-mobnav-menu-item:focus {
    opacity: .75;
}

.burger {
    border: none;
    border-radius: 0;
    background: transparent;
    /* background: rgba(0, 200, 150, .1); */

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
    position: relative;
    transform: rotate(0deg);
    
    transition: 0.4s;
    cursor: pointer;
    
    width: 48px;
    height: 48px;
}

.burger-label {
    font-size: 0;
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;

    position: absolute;
    left: 0;
    transition: 0.4s;
}

.burger span:nth-child(1) {
    top: calc(33.3% - 0.65px);
}

.burger span:nth-child(2) {
    top: calc(66.6% - 0.65px);
}

.burger:focus {
    outline: none;
}

.burger-inner {
    background: transparent;

    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}


.burger-active {
    /* background: rgba(0, 200, 150, .2); */
}

.burger-active span {
    background: rgba(255, 255, 255, .75);
}

.burger-active span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
}

.burger-active span:nth-child(2) {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
}








@media (max-width: 768px) {
    .hdr-menu,
    .hdr-languages {
        display: none;
    }

    .hdr-hamburger {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}


/* Themes */

.hdr-white {

}

.hdr-white .hdr-row {
    &::after {
        background: rgba(255,255,255,.1);
    }
}

.hdr-white .hdr-menu-item {
    color: #fff;
    &::before {
        background: #fff;
    }
}

.hdr-white .langswitcher-item {
    color: #fff;
}


