.service-block {
}

.service-block-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #08B457;
  margin-bottom: 24px;

  transform: translate3d(var(--reveal-x, 0), 0, 0);
  will-change: transform;
}

@media (max-width: 575px){

  .service-block-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

}
