@import "tailwindcss";

:root {
    --background: rgb(244, 244, 244);
    --foreground: #1A1A1A;
    /* --primary-50: #f0f9ff;
    --primary-100: #e0f2fe;
    --primary-200: #bae6fd;
    --primary-300: #7dd3fc;
    --primary-400: #38bdf8; */
    --primary-500: #0fd680;
    /* --primary-600: #0284c7;
    --primary-700: #0369a1;
    --primary-800: #075985;
    --primary-900: #0c4a6e;
    --primary-950: #082f49; */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);
    --font-sans: var(--font-inter);
    --font-mono: var(--font-space-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}



.hero {
    position: relative;
    height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(var(--background), transparent);
    z-index: 5;

}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(transparent, var(--background));
    z-index: 5;
}

.hero-cta {
    position: absolute;
    z-index: 6;
    top: 150px;
    right: 10px;

    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 340px;

}

.hero-cta-box {
    background: #fff;
    border-radius: 8px;
    
    display: flex;
    gap: 2px;
    padding: 2px;
}

.hero-cta-box-content {
    background: #F4F4F4;
    border-radius: 8px;

    flex: 2;
    padding: 25px 30px;
}

.hero-cta-box-media {
    background: #F4F4F4;
    border-radius: 8px;

    flex: 1;

    overflow: hidden;

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.hero-cta-footer {
    font-family: var(--font-mono);
    font-size: 13px;
    text-transform: uppercase;
    background: #fff;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px 30px;
}



.hero-title {
    font-family: var(--font-mono);
    line-height: 1;
    text-transform: uppercase;

    /* mix-blend-mode: difference; */
    position: absolute;
    z-index: 7;
    bottom: 80px;
    right: 0;
    left: 0;
}


.hero-title-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-title-lead {
    font-size: 28px;
}

.hero-title-main svg {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}


/* Intro section */

.intro-row {
    position: relative;
    padding-right: 120px;
}

.intro-link {
    font-weight: bold;
    transform: rotate(-90deg);
    text-wrap: nowrap;

    position: absolute;
    z-index: 1;
    top: 62px;
    right: -67px;
}


.services {
    background: #fff;
    border-radius: 12px;

    padding: 3px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;

}




.works-masonry {
    position: relative;
}

/* .works-masonry-col {
    position: relative;
} */

.works-masonry-item {
    background: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 2px;
    
    padding: 2px;

    overflow: hidden;
}




.pills {
    display: flex;
    gap: 2px;
}

.pills-item {
    font-size: 13px;
    text-transform: uppercase;
    font-family: var(--font-mono);
    line-height: 1.1;
    border-radius: 99px;
    background: #fff;

    padding: 4px 6px;
}
