@import "tailwindcss";

:root {
    --background: rgb(244, 244, 244);
    --foreground: #000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter);
    --font-mono: var(--font-space-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}



.hero {
    position: relative;
    height: 100vh;
}

.hero-cta {
    position: absolute;
    top:60px;
    right: 60px;
}

.hero-cta-box {
    background: #fff;
    border-radius: 8px;
    
    display: flex;
    padding: 2px;
}

.hero-cta-box-content {
    background: #F4F4F4;
    border-radius: 8px;

    flex: 2;
    padding: 25px 30px;
}

.hero-cta-box-media {
    flex: 1;
}
