.service-dropdown {
    background: var(--background);
    border-radius: 12px;

    display: grid;
    grid-template-columns: minmax(0, auto);
    padding: 35px 50px;
    width: auto;

    transition: grid-template-columns 0.5s ease;
}

.service-dropdown-align-center {
    align-self: center;
}

.service-dropdown-align-right {
    align-self: flex-end;
}

.service-dropdown-content {
    grid-column: 1 / -1;
}

.service-dropdown-header {
    display: flex;
    align-items: center;
    gap: 24px;

    transition: 0.5s;
}

.service-dropdown-title {
    font-family: var(--font-mono);
    font-size: 84px;
    text-transform: uppercase;
    line-height: 1;

    text-wrap: nowrap;

    transition: 0.5s;
}

.service-dropdown-label {
    font-family: var(--font-mono);
    font-size: 15px;
    text-transform: uppercase;

    text-wrap: nowrap;

    transition: 0.5s;
}

.service-dropdown-text {
    width: 700px;
    max-width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

    margin-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
}


.service-dropdown-expanded {
    grid-template-columns: minmax(0, 1fr);
}

.service-dropdown-expanded .service-dropdown-text {
    max-height: 1000px;
    opacity: 1;
    margin-top: 24px;
}
