.service-dropdown {
    background: var(--background);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    padding: 35px 40px;
    width: 75%;

    transition: 0.5s;
}

.service-dropdown-align-center {
    align-self: center;
}

.service-dropdown-align-right {
    align-self: flex-end;
}

.service-dropdown-content {
    grid-column: 1 / -1;
}

.service-dropdown-header {
    display: flex;
    align-items: center;
    gap: 20px;

    transition: 0.5s;
    cursor: pointer;
}

.service-dropdown-title {
    font-family: var(--font-mono);
    font-size: 84px;
    text-transform: uppercase;
    line-height: 1;

    text-wrap: nowrap;

    transition: 0.5s;
}

.service-dropdown-label {
    font-family: var(--font-mono);
    font-size: 14px;
    text-transform: uppercase;

    text-wrap: nowrap;

    transition: 0.5s;
}

.service-dropdown-text {
    width: 760px;
    max-width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

    padding-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transition: 0.5s;
}



.service-dropdown:hover,
.service-dropdown:focus {
    color: var(--background);
    background: var(--foreground);
}



.service-dropdown-expanded {
    color: var(--background);
    background: var(--foreground);
    width: 100%;
}

.service-dropdown-expanded .service-dropdown-text {
    max-height: 500px;
    opacity: 1;
    padding-top: 24px;
}
