.service-dropdown {
    background: var(--background);
    border-radius: 12px;

    width: fit-content;
    padding: 35px 50px;

    transition: 0.5s;
}

.service-dropdown-align-center {
    align-self: center;
}

.service-dropdown-align-right {
    align-self: flex-end;
}

.service-dropdown-header {
    display: flex;
    align-items: center;
    gap: 24px;

    transition: 0.5s;
}

.service-dropdown-title {
    font-family: var(--font-mono);
    font-size: 84px;
    text-transform: uppercase;
    line-height: 1;

    text-wrap: nowrap;

    transition: 0.5s;
}

.service-dropdown-label {
    font-family: var(--font-mono);
    font-size: 15px;
    text-transform: uppercase;

    text-wrap: nowrap;

    transition: 0.5s;
}

.service-dropdown-text {
    display: none;

    width: 700px;
    max-width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

    margin-top: 24px;

    transition: 0.5s;
}


.service-dropdown-expanded {
    width: 100%;
}

.service-dropdown-expanded .service-dropdown-text {
    display: block;
}
