.ftr {
    padding: 6px;
}

.ftr-box {
    border-radius: 18px;
    color: #fff;
    background-color: var(--foreground);

    padding-top: 64px;
    padding-bottom: 64px;

    position: relative;
    overflow: hidden;
}

@media (min-width: 64rem) {
    .ftr-box {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.ftr-brand {
    display: block;
    margin-bottom: 40px;
}

.ftr-brand svg {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.ftr-links {
    font-size: 12px;

    display: flex;
    gap: 16px;

    a {
        color: #ffffff8a;
        transition: 0.2s;
        &:hover, &:focus {
            color: #ffffff;
        }
    }
}


.ftr-menu {
    font-family: var(--font-mono);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ftr-menu-item {
    font-size: 24px;
    text-transform: uppercase;
}

@media (min-width: 64rem) {
    .ftr-menu-item {
        font-size: 30px;
    }
}



.ftr-cinfo {
    font-family: var(--font-mono);
    text-transform: uppercase;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    word-break: break-word;

    a {
        color: #ffffff;
        transition: 0.2s;
        &:hover, &:focus {
            color: #ffffff8a;
        }
    }
}

@media (min-width: 64rem) {
    .ftr-cinfo {
        font-size: 20px;
    }
}

.ftr-copyright {
    font-size: 12px;
    color: #ffffff8a;
}



