.ftr {
    padding: 6px;
}

.ftr-box {
    border-radius: 18px;
    color: #fff;
    background-color: var(--foreground);

    padding-top: 120px;
    padding-bottom: 120px;
}

.ftr-brand {
    display: block;
}

.ftr-brand svg {
    width: 320px;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.ftr-links {
    font-size: 12px;

    display: flex;
    gap: 16px;

    a {
        color: #ffffff66;
        &:hover, &:focus {
            color: #ffffff;
        }
    }
}

.ftr-copyright {
    font-size: 12px;
    color: #ffffff66;
}
