
.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

.social-icons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;

    transition: .2s;
}

.social-icons-item svg {
    display: block;
    margin: 0;

    height: 32px;
    width: auto;
}

.social-icons-item:hover, .social-icons-item:focus {
    opacity: .75;
}

